<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 mt+">
  <%= image_tag "logo_email.png" %>
  <h1>Bienvenue <%= @user.company_name %>,</h1>
  <p>Vous venez de vous inscrire comme Bêta testeurs pour essayer gratuitement Gégé pendant 1 mois.</p>
  <p>Notre but: vous permettre de diffuser votre passion au plus grand nombre - en gagnant du temps et optimisant vos revenus.</p>
  <p>vous allez être recontacté par notre équipe dans les 48h.</p>
  <p>Merci de nous faire confiance !</p>
  <p>Gégé et son équipe.</p>
</div>
