<div class="footer">
  <div class="col-sm-4 col-md-3 text-white text-left">
    <h4>Gege.io</h4>
    <h6>Nous contacter</h6>
  </div>
  <div class="col-sm-4 col-md-3 text-white text-left">
    <h6>Newsletter</h6>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Votre email">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button></span>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 text-white text-right">
    <h6>Actualités</h6>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>

