<div class="footer">
  <div class="col-sm-4 col-md-3 text-left">
    <h6>Nous contacter</h6>
    <a href="#"><i class="far fa-envelope"></i></a>
  </div>
  <div class="col-sm-4 col-md-3 text-left">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#green; clear:left; font:14px Roboto,Open Sans,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://gege.us12.list-manage.com/subscribe/post?u=ea128334ea1a8685f50d016e3&amp;id=52661ebd00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Être recontacté par notre équpe</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse E-mail" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ea128334ea1a8685f50d016e3_52661ebd00" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="btn-recall"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
  <div class="col-sm-4 col-md-3 text-right">
    <h6>Facebook</h6>
    <a href="https://www.facebook.com/G%C3%A9g%C3%A9-1469863543123025"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>

