<div class="footer">
  <div class="col-sm-4 col-md-3 text-left">
    <h6>Nous contacter</h6>
    <a href="#"><i class="far fa-envelope"></i></a>
  </div>
  <div class="col-sm-4 col-md-3 text-left">
    <h6>Etre contacté par notre équipe</h6>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Votre email">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button></span>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 text-right">
    <h6>Facebook</h6>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>

