<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 mt+">
  <h1>Bienvenue</h1>
  <br>
  <p>Tu viens de t’inscrire comme Bêta testeurs pour essayer gratuitement Gégé pendant 1 mois.</p>
  <br>
  <p>Notre but: te permettre de diffuser ta passion au plus grand nombre - en gagnant du temps et optimisant tes revenus.</p>
  <br>
  <p>Tu vas être recontacté par notre équipe dans les 48h.</p>
  <br>
  <p>Merci de nous faire confiance !</p>
  <br>
  <p>Gégé et son équipe.</p>
</div>
