<!-- Global site tag (gtag.js) - Google Analytics (To be installed)-->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116327892-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116327892-1');
</script>
<div class="banner ">-->

<!-- Mobile view -->
  <div class="banner-content hidden-md hidden-lg mt0 ">
    <h2 class="mb0 text-white">Gère les</h3>
    <h2 class="mb0 text-white mt--">réservations clients</h3>
    <h2 class="text-white mt-- mb+">à votre place</h3>

    <iframe width="360" height="203" src="https://www.youtube.com/embed/evn3opttcRk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <%= link_to "Je teste", new_user_registration_path, class: "mt+ btn btn-secondary-banner" %>
  </div>

  <!-- Laptop view -->
  <div class="banner-content hidden-xs hidden-sm ">
    <iframe width="960" height="540" src="https://www.youtube.com/embed/evn3opttcRk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Gère les réservations clients à votre place</p>
    <%= link_to "Je teste gratuitement pendant 1 mois", new_user_registration_path, class: "btn btn-secondary-banner" %>
  </div>
</div>

<div class="flex-container-lg background-white text-green text-center">
  <div><i class="far fa-clock"></i><h4>Gagnez du temps</h4></div>
  <div><i class="fas fa-euro-sign"></i><h4>Optimisez vos revenus</h4></div>
</div>

<div class="flex-container-lg background-green text-white text-center">
  <div><i class="far fa-calendar-alt"></i><h4>Planning centralisé</h4></div>
  <div><i class="fas fa-mouse-pointer"></i><h4>Réservation en ligne</h4></div>
  <div><i class="fas fa-paper-plane"></i><h4>Gestion multi-plateformes</h4></div>
</div>

