<div class="banner">


<!-- Mobile view -->
  <div class="banner-content hidden-md hidden-lg">
    <h2 class="mb0 text-white">Gère les</h2>
    <h2 class="mb0 text-white mt0">réservations clients</h2>
    <h2 class="text-white mt0">à votre place</h2>
    <%= link_to "Je teste", new_user_session_path, class: "btn btn-secondary-banner" %>
  </div>

  <!-- Laptop view -->
  <div class="banner-content hidden-xs hidden-sm">
    <%= cl_video_tag("Gégé_Video", :video_codec=>"auto", :width=>960, :crop=>"scale") %>
    <p>Gère les réservations clients à votre place</p>
    <%= link_to "Je teste gratuitement pendant 1 mois", new_user_session_path, class: "btn btn-secondary-banner" %>
  </div>
</div>

<div class="flex-container-lg background-white text-green text-center">
  <div><i class="far fa-clock"></i><h4>Gagnez du temps</h4></div>
  <div><i class="fas fa-euro-sign"></i><h4>Optimisez vos revenus</h4></div>
</div>

<div class="flex-container-lg background-green text-white text-center">
  <div><i class="far fa-calendar-alt"></i><h4>Planning centralisé</h4></div>
  <div><i class="fas fa-mouse-pointer"></i><h4>Réservation en ligne</h4></div>
  <div><i class="fas fa-paper-plane"></i><h4>Gestion multi-plateformes</h4></div>
</div>

