<div class="flex-container-md background-white text-green text-center">
    <h1>Merci pour votre interêt ;)</h1>
</div>

<div class="flex-container-sm background-white text-green text-center">
   <h4>Notre but: vous permettre de diffuser votre passion au plus grand nombre - en gagnant du temps et optimisant vos revenus. Vous allez être recontacté par notre équipe dans les 48h.Si vous le souhaitez, vous avez la possibilité de tester gratuitement Gégé pendant 1 mois. Merci de nous faire confiance !</h4>
  </div>
