.footer {
  // background: $white;
  background: url('images/cover.jpg') no-repeat;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 120px;
  color: rgba(0,0,0,0.3);
  padding-top: 20px;
  background-size: cover;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $gray;
  opacity: 0.15;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: $light-gray
}
.footer .fa-facebook-f {
  color: $green;
  font-size: 35px;
  padding-right:25px;
}

.footer .fa-envelope {
  color: $green;
  font-size: 35px;
  padding-left: 30px;
}

.footer h6 {
  color: #999999;
  font-size: 15px;
}

.footer h4 {
  color: $green;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
